
# Core functionality - changes here should be rare!
/src/app.py                   @asad1008
/src/backend/database.py      @asad1008
/src/backend/routers/auth.py  @asad1008

# The frontend will need refactored soon to be more object oriented.
/src/static/   @asad1008
